//primary colors
$background-color: #fff8f1;
$primary-color: #a28fb4;
$secondary-color: #fff0ac;
$dark: #69527e;
$light: #a28fb4;
$rose: #e0c3d4;
$font-size-base: 1rem;

//typography
$font-family-base: "Playfair", serif;
$font-size-base: 1rem;
$font-weight-base: 400;
$line-height-base: 1.5;

//space & borders
$spacer: 1rem;
$border-radius: 0.25rem;
